.grid-head {
    grid-area:header;
}
.grid-sidebar {
    grid-area:side;
}
.grid-content {
    grid-area: content;
}
.grid-container {
    display:grid;
    padding: 10px;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    padding: 10px;
    grid-template-areas :
    "header header header header"
    "side content content content"
    "side content content content";
}
.grid-container div {
    border: 1px solid black;
}

.grid-container2 {
    display: grid;
    width: 100%;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}
.grid-container2 img {
    width: 100%;
    display: block;
}
.any {
    grid-column:1/3;
    grid-row:1/3;
}

